{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('js/app') }}
    {% endblock %}
{% block body %}
 <div class="container-lg">
     <p id="22"></p>
     <br>
{#         <form class="form-inline my-2 my-lg-0" action="{{ path('blog_search') }}" method="get">#}
{#             <input class="form-control mr-sm-2" type="search" aria-label="Search" name="searchInput">#}
{#             <br>#}
{#             <input class="btn btn-primary" type="submit" value="Go">#}
{#             <br><br>#}
{#             {% if empty is defined %}#}
{#                {{ empty }}#}
{#             {% endif %}#}
{#         </form>#}

             {{ form_start(form, {
                 'action': path('blog_search'),
                 'method': 'GET'
             }) }}
                 {{ form_widget(form.title, {
                     'attr': {
                         'class':'form-control mr-sm-2',
                     }}) }}
                 <br>
                {{ form_widget(form.save) }}
                <a href="{{ path('blog_search') }}" class="btn btn-primary">Сброс</a>
                {{ form_errors(form.title) }}
            {{ form_end(form) }}

     <br>
     <div class="media text-muted pt-3" id="aye">
     {% for post in posts %}
             <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                 <a href="{{ path('blog_show', {'slug': post.slug}) }}">{{ post.title }}</a>
                 <br>
                 {{ post.body | slice(0, 255) ~ '...'  }}
             </p>
     {% endfor %}
         </div>
     <br>
     <br>
     <small class="d-block text-right mt-3">
         <a href="{{ path('post') }}">На главную</a>
     </small>
 </div>



{% endblock %}